@tailwind components;

@layer components {
    .list_container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        grid-template-rows: auto;
        grid-gap: 2rem;
    }
}